<app-modal [name]="'loginModal'" [class]="'loginSize'" [wildCardButtonOne]="'Login'" [wildCardButtonTwo]="'Create Profile'"
           (wildCardButtonOneEvent)="authLogin($event)" (wildCardButtonTwoEvent)="openCreateProfileModal()">
  <app-panel>
    <app-panel-header>Login</app-panel-header>

    <app-panel-body>

      <form [formGroup]="loginForm">

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>

          <input matInput formControlName="email" required>
          <mat-error
            *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            Email is required.
          </mat-error>

          <mat-error
            *ngIf="loginForm.get('email').hasError('email') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

      </form>

      <form [formGroup]="loginForm">

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error
            *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            Password is required.
          </mat-error>
        </mat-form-field>
      </form>

    </app-panel-body>

  </app-panel>

</app-modal>
