.panel__body {
  background-color: white;
  border: 1px solid lightgrey;
  padding: .75rem;
  overflow: hidden;
}

.panel__header {
  background-color: var(--theme-primary-color);
  color: black;
  padding: .65rem .75rem;
  font-weight: bold;
  font-size: 1.25rem;
  transition: background-color .2s ease-out;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &.has-loading-icon {
    .loader {
      display: inline-block;
      position: relative;
      top: 2px;
    }
  }
}
